<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Personal Details</h3>
                <form #loanForm="ngForm" (ngSubmit)="loanForm.form.valid && onSubmit(loanForm)">
                    <div class="form-group">
                        <label>Customer ID:</label>
                        <input type="text" name="customerId" class="form-control" [(ngModel)]="model.customerId" #customerId="ngModel" [ngClass]="{ 'is-invalid': loanForm.submitted && customerId.invalid }"
                            required>
                    </div>
                    <div class="form-group">
                        <label>Loan ID:</label>
                        <input type="text" name="loanId" class="form-control" [(ngModel)]="model.loanId" #loanId="ngModel" [ngClass]="{ 'is-invalid': loanForm.submitted && loanId.invalid }"
                            required>

                    </div>

                    <div class="form-group">
                        <label>Loan Amount:</label>
                        <input type="number" name="loanAmount" class="form-control" [(ngModel)]="model.loanAmount" #loanAmount="ngModel" [ngClass]="{ 'is-invalid': loanForm.submitted && loanAmount.invalid }"
                            required>
                        <div class="invalid-feedback" *ngIf="loanForm.submitted && loanAmount.invalid">
                            <p *ngIf="loanAmount.errors.required">Loan Amount is required</p>
                            <p *ngIf="loanAmount.errors.max || loanAmount.errors.min">Entered value within the range(1000-10000000)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Trade Date:</label>
                        <input type="date" name="tradeDate" class="form-control" [(ngModel)]="model.tradeDate" #tradeDate="ngModel" />
                    </div>
                    <div class="form-group">
                        <label>Start Date:</label>
                        <input type="date" name="startDate" class="form-control" [(ngModel)]="model.startDate" #startDate="ngModel" />

                    </div>
                    <label>Loan Duration in Months:</label>
                    <input type="range" name="durationInput" id="durationInputId" value="0" min="0" max="30" oninput="durationOutputId.value = durationInputId.value"
                        (change)="setMaturityDate($event)" [(ngModel)]="model.loanDuration" #loanDuration="ngModel">
                    <output name="durationOutput" id="durationOutputId">0</output>
                    <div class="form-group">
                        <label>Maturity Date:</label>
                        <input type="date" name="maturityDate" class="form-control" [(ngModel)]="model.maturityDate" #maturityDate="ngModel" />
                    </div>
                    <div class="form-group">
                        <label> Payment Frequency:</label>
                        <br>
                        <label>
                            <input type="radio" name="paymentFrequency" value="Monthly" (change)="calculatepaymentSchedule($event)" [(ngModel)]="model.paymentFrequency" #paymentFrequency="ngModel">
                            <span>Monthly</span>
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="paymentFrequency"  value="Quarterly" (change)="calculatepaymentSchedule($event)" [(ngModel)]="model.paymentFrequency" #paymentFrequency="ngModel">
                            <span>Quarterly</span>
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="paymentFrequency" value="Half Yearly" (change)="calculatepaymentSchedule($event)" [(ngModel)]="model.paymentFrequency"
                                #paymentFrequency="ngModel">
                            <span>Half Yearly</span>
                        </label>
                        <br>
                        <label>
                            <input type="radio"name="paymentFrequency"  value="Yearly" (change)="calculatepaymentSchedule($event)" [(ngModel)]="model.paymentFrequency" #paymentFrequency="ngModel">
                            <span>Yearly</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Payment Schedule:</label>
                        <input type="number"  name="paymentSchedule" class="form-control" [(ngModel)]="model.paymentSchedule" #paymentSchedule="ngModel"/>
                    </div>
                    <div class="form-group">
                        <label>Payment Term:</label>
                        <br>
                        <label>
                            <input type="radio" name="paymentTerm" value="Interest Only" (change)="calculateprojectedInterest($event)" [(ngModel)]="model.paymentTerm" #paymentTerm="ngModel">
                            <span>Interest Only</span>
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="paymentTerm"  value="Even Principal"  (change)="calculateprojectedInterest($event)"  [(ngModel)]="model.paymentTerm" #paymentTerm="ngModel">
                            <span>Even Principal</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Projected interest :</label>
                        <input type="number"  name="projectedInterest"  class="form-control"  [(ngModel)]="model.projectedInterest" #projectedInterest="ngModel" />
                    </div>

                    <div class="form-group">
                        <!-- <button class="btn btn-primary">Apply</button> -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>