<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Loan ID</th>
      <th scope="col">Loan Amount</th>
      <th scope="col">Start Date</th>
      <th scope="col">Maturity Date</th>
      <th scope="col">Loan Duration (in months)</th>
      <th scope="col">Payment Frequency</th>
      <th scope="col">Payment Schedule</th>
      <th scope="col">Payment Term</th>
      <th scope="col">Projected Interest</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loan of loans; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ loan.loanId }}</td>
      <td>{{ loan.loanAmount | number }}</td>
      <td>{{ loan.startDate }}</td>
      <td>{{ loan.maturityDate }}</td>
      <td>{{ loan.loanDuration | number }}</td>
      <td>{{ loan.paymentFrequency }}</td>
      <td>{{ loan.paymentSchedule | number }}</td>
      <td>{{ loan.paymentTerm }}</td>
      <td>{{ loan.projectedInterest | number }}</td>
      <td>
        <button class="btn btn-primary" (click)=navigatePaymentSchedule(loan.loanId)>View Payment Schedule</button>
      </td>
    </tr>
  </tbody>
</table>